# Arquivos compilados C/C++
*.o
*.obj
*.exe
*.out
hello

# Arquivos temporários e de backup do editor
*~
*.swp
*.swo

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.Python
pip-log.txt
pip-delete-this-directory.txt

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java
*.class
bin/
build/

# VS Code
.vscode/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db
